<section>
  <div class="container" style="margin-top: 6rem;">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/home']"  aria-current="page">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">A propos de nous</a>
        </li>
      </ul>

    </div>
  </div>
</section>

<section class="site-section"  id="about-section">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <figure class="circle-bg">
          <img src="assets/images/about0.jpg" alt="about" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">


          <div class="row">



            <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                <div>
                  <h3>QU'EST CE QUE SOCEC-BA?</h3>
                  <p>Un organisme de promotion économique et sociale Une association démocratique: une personne, une volc SOCEC-BA est née de initiative d'un groupe de jeunes des populations pauvres des zones rurales et urbaines. Camerounais dynamique oeuvrant pout le financement durable </p>
                </div>
              </div>
            </div>
            <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="100">
              <div class="unit-4 d-flex">
                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                <div>
                  <h3>OBJECTIFS</h3>
                  <p><i class="bi bi-arrow-right-circle-fill"></i> Fournir des services adaptés et de proximités à ses membres les plus démunis afin de diminuer leur vulnérabilité, d'accroitre leur revenu et d'attenuer leur exclusion sociale et économique <br>
                    <i class="bi bi-arrow-right-circle-fill"></i> Lutter contre la pauvreté par une amélioration significative des conditions de vie de la famille et de la société <br>
                    <i class="bi bi-arrow-right-circle-fill"></i> Apporter un appui à l'esprit d'initiative et d'entreprenariat <br>
                    <i class="bi bi-arrow-right-circle-fill"></i> Contribuer à la baisse du chômage. <br>
                    <i class="bi bi-arrow-right-circle-fill"></i> Développer les activités lucratives.</p>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>


    </div>
  </section>

  <div class="site-section" id="next">
    <div class="container">
      <div class="row mb-5 pb-5 text-info justify-content-center h2">
        Partenaires
      </div>
      <div class="row mb-5 pb-5">
        <div class="col col-md text-center" data-aos="fade-up" data-aos-delay="">
          <img src="assets/images/camccul.png" alt="" class="img-fluid w-30 mb-4">
        </div>
        <div class="col-md text-center" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/images/orange.jpg" alt="" class="img-fluid w-27 mb-4">
        </div>
        <div class="col-md text-center" data-aos="fade-up" data-aos-delay="100">
          <img src="assets/images/prudentail-beneficail.jpg" alt="" class="img-fluid w-30 mb-4">
        </div>
        <div class="col-md text-center" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/images/mtn.jpg" alt="" class="img-fluid w-30 mb-4">
        </div>
        <div class="col-md text-center" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/images/union-bank2.png" alt="" class="img-fluid w-26 mb-4">
        </div>
        <div class="col-md text-center" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/images/dioo.jpg" alt="" class="img-fluid w-30 mb-4">
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
          <figure class="circle-bg">
          <img src="assets/images/about_2.jpg" alt="" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-4">
            <h3 class="h3 mb-4 text-black">POURQUOI ADHERER</h3>
            <p>Adhérer à SOCEC-BA c'est pour: </p>

          </div>

          <div class="mb-4">
            <ul class="list-unstyled  success">
              <li><i class="bi bi-arrow-right"></i>  Sécuriser son épargne</li>
              <li><i class="bi bi-arrow-right"></i> Bénéficier d'un soutien au développement de son activité</li>
              <li><i class="bi bi-arrow-right"></i> Participer au développemnt de sa communauté de son pays et même de l'Afrique</li>
              <li><i class="bi bi-arrow-right"></i> Contribuer à la lutte contre la pauvreté</li>
            </ul>

          </div>

        </div>
      </div> -->
    </div>
  </div>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col bg-info text-dark text-center">
          <span><h3><b>Avec SOCEC-BA c'est une relation de Confiance</b></h3></span>
        </div>
      </div>
    </div>
  </section>
