<header class="site-navbar js-sticky-header bg-light" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-4">
          <h1 class="mb-0 site-logo"><a routerLink="/home"  class="h2 mb-0"><img src="assets/images/stl.png" alt="logo" width="80" height="80" class="p-1 pt-3"><span style="margin-top: 0.5rem;"><b><i>SOCEC-BA.</i></b></span></a></h1>
        </div>

        <div class="col-4 col-md-8 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">

            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="nav-link">Accueil</a></li>
              <li><a  routerLink="/about" class="nav-link">A propos de nous</a></li>
              <li><a  routerLink="/membership" class="nav-link">Adhésion </a></li>
              <li><a  routerLink="/services" class="nav-link">Services</a></li>
              <li><a  routerLink="/contact" class="nav-link">Contact</a></li>
              <li><span class="btn-info btn" routerLink="">Banque en ligne</span></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>

  </header>
