<section>
  <div class="container" style="margin-top: 6rem;">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/home']" routerLinkActive="router-link-active"  aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">services</a>
        </li>
      </ul>

    </div>
  </div>
</section>


<section >
  <div class="container " style="margin-top: 7rem;">
    <div class="row">
      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
        <figure class="circle-bg">
        <img src="assets/images/service2.png" alt="" class="img-fluid">
        </figure>
      </div>
      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
        <div class="mb-4">
          <h3 class="h3 mb-4 text-black"> LES POINT DE SERVICES</h3>

        </div>

        <div class="mb-4">
          <ul class="list-unstyled  success">
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Point de PAACHI</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Point de PENDABOKO</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Point de PENDABOKO <br> Lieu dit KAMBE</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Point de BANWA </li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Point de NDOBO BONABERI </li>
          </ul>


        </div>

        <div class="mb-4">
          <h3 class="h3 mb-4 text-black">FORMATIONS</h3>
        </div>

        <div class="mb-4">
          <ul class="list-unstyled  success">
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Education financière</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Suivi des membres</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i>  Encadrement à la gestion de projet</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="mb-5">
  <div class="container " style="margin-top: 7rem;">
    <div class="row">

      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
        <div class="mb-4">
          <h3 class="h3 mb-4 text-black"> NOS DIFFERENTS SERVICES</h3>
        </div>

        <div class="mb-4">
          <ul class="list-unstyled  success">
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i> ÉPARGNE</li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i> Compte d'épargne sur livret</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Part préférencielle</li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i> Epargne journalière </li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i> Dépôt à vue</li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i>DAT</li>

          </ul>
        </div>

        <div class="mb-4">
          <h3 class="h3 mb-4 text-black"> AUTRES PRODUITS FINANCIERS</h3>
        </div>

        <div class="mb-4">
          <ul class="list-unstyled  success">
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i> Transfert d'argent (WESTERN UNION, MTN Mobile Money, Orange Money)</li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i>Caution bancaire - Micro Assurance</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> Distribution des intrants agricoles, des produits MTN et Orange</li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i> Epargne journalière </li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i> Remise chèque pour encaissement</li>
            <li class="p-1"> <i class="bi bi-arrow-right-circle-fill"></i>DAT</li>
          </ul>
        </div>

        <div class="mb-4">
          <h3 class="h3 mb-4 text-black">LES INSTITUTIONS D'APPUI / PARTENAIRES</h3>
        </div>

        <div class="mb-4">
          <ul class="list-unstyled  success">
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i>CAMCCUL</li>
            <li class="p-1"><i class="bi bi-arrow-right-circle-fill"></i> MTN</li>
          </ul>
        </div>


      </div>

      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
        <figure class="circle-bg">
        <img src="assets/images/service1.png" alt="" class="img-fluid">
        </figure>
      </div>
    </div>
  </div>
</section>
