<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <!-- <img src="assets/images/stl.png" alt="logo" width="70" height="70"> -->
              <h2 class="footer-heading mb-4">CATÉGORIE INSTITUTIONS DE MICROFINANCE</h2>
              <p>
                Certificat d'enregistrement NOU/GP/01/94/0127 du 17/12/1994 Agrément MINFI N000353/MINF1 du 27/07/2001 CNC N°001/EMF/2012 du 05/01/2012
              </p>
              <button class="btn btn-info"><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Prendre contact </a><i class="bi bi-arrow-right"></i></button>
            </div>
            <div class="col ml-auto">
              <h2 class="footer-heading mb-4">ÉPARGNE</h2>
              <ul class="list-unstyled">
                <li><a  class="smoothscroll">Compte d'épargne sur livret</a></li>
                <li><a  class="smoothscroll">Action préférentielle</a></li>
                <li><a  class="smoothscroll">Epargne journalière</a></li>
                <li><a  class="smoothscroll">Dépôt à vue</a></li>
                <li><a    class="smoothscroll">DAT</a></li>

              </ul>
            </div>
            <div class="col footer-social">
              <h2 class="footer-heading mb-4">FORMATION</h2>
              <ul class="list-unstyled">
                <li><a  class="smoothscroll">Éducation financière</a></li>
                <li><a  class="smoothscroll">Soutien aux membres</a></li>
                <li><a  class="smoothscroll">Accompagnement de la gestion de projet</a></li>
              </ul></div>

              <div class="col footer-social">
                <h2 class="footer-heading mb-4">AUTRES REVENUS FINANCIERS</h2>
                <ul class="list-unstyled">
                  <li><a  class="smoothscroll">Prêts</a></li>
                  <li><a  class="smoothscroll">I-Collecte</a></li>
                  <li><a  class="smoothscroll">Transfert d'argent (WESTERN UNION, MTN Mobile Money, Orange Money)</a></li>
                  <li><a  class="smoothscroll">Garanties bancaires</a></li>
                  <li><a  class="smoothscroll">Distribution d'intrants agricoles, produits MTN et Orange</a></li>
                  <li><a    class="smoothscroll">Remise de chèques pour encaissement</a></li>

                </ul></div>
          </div>
        </div>
        <!-- <div class="col-md-3">
          <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
          <form action="#" method="post" class="footer-subscribe">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
              </div>
            </div>
          </form>
        </div> -->
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p class="copyright"><small>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Designed by <a href="https://i-techsarl.com" target="_blank" >I-TECH</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></small></p>

          </div>
        </div>

      </div>
    </div>
  </footer>
