<section>
  <div class="container" style="margin-top: 6rem;">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/home']" aria-current="page" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Adhésion</a>
        </li>
      </ul>

    </div>
  </div>
</section>


<div class="site-section cta-big-image" id="about-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-8 text-center">
        <!-- <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Devenir Membre</h2> -->
        <p class="lead" data-aos="fade-up" data-aos-delay="100"> <b>Comment Devenir membre de SOCEC-BA?</b></p>
      </div>
    </div>
    <div class="row">

      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">

        <h3 class="text-black mb-4">1- PERSONNES PHYSIQUES</h3>

        <p>
          <i class="bi bi-arrow-right-circle-fill"></i> 02 photos 4x4 <br>
          <i class="bi bi-arrow-right-circle-fill"></i> Photocopie de la carte d'identité ou du passeport Plan de situation <br>
        </p>

        <h3 class="text-black mb-4">2. PERSONNES MORALES</h3>
        <p>
          <i class="bi bi-arrow-right-circle-fill"></i> Registre du commerce <br>
                <i class="bi bi-arrow-right-circle-fill"></i> Copie de la carte de contribuable <br>
                <i class="bi bi-arrow-right-circle-fill"></i> Titre de patente <br>
                <i class="bi bi-arrow-right-circle-fill"></i> Copie des statuts de l'entreprise <br>
        </p>

        <h3 class="text-black mb-4">3. ASSOCIATION ET ONG</h3>
        <P>
          <i class="bi bi-arrow-right-circle-fill"></i> PV de designature des mandataires <br>
                <i class="bi bi-arrow-right-circle-fill"></i> Status et reglement interieur de l'association ou du groupe

        </P>

        <h3 class="text-black mb-4">4. FRAIS D'OUVERTURE DE COMPTE</h3>
        <p>
          <i class="bi bi-arrow-right-circle-fill"></i> <b>15,000FCFA</b>
        </p>
<hr>
<hr>
<hr>
        <h3 class="text-black mb-4"><i>NOS ATOUTS</i></h3>
        <i class="bi bi-arrow-right-circle-fill"></i> <b>Securisation de votre epargne</b> <br>
        <i class="bi bi-arrow-right-circle-fill"></i> <b>Soutiens au developement de votre activite</b> <br>
        <i class="bi bi-arrow-right-circle-fill"></i> <b>Accompagnement dans la realisation de tous vos types de projects</b> <br>

      </div>


      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
        <figure class="circle-bg">
        <img src="assets/images/membership.jpg" alt="" class="img-fluid">
        </figure>
      </div>
    </div>

  </div>
</div>
